.Rproj.user
.Rhistory
.RData
*.rda
*.csv
*.xls*
*.html
*.png
*.doc*
draft.R
inst/doc
bonnafe_work
edeline_work
data-raw
data
tests/output
report/_book
report/_main.Rmd
report/_bookdown_files
manuscript/bef_stability/manuscript_cache
manuscript/bef_stability/manuscript_files
manuscript/bef_stability/*.tex
manuscript/bef_stability/*.dvi
manuscript/bef_stability/*.rtf
internship
report/stephane
